/*
 *
 * MMM-CasperValidator
 *
 * Toan Le
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

 .MMM-CasperValidator .tiles label { }
 .MMM-CasperValidator .tiles .value {
  font-size: 2rem;
  font-family: var(--font-secondary), sans-serif;
}

.MMM-CasperValidator .tiles .value.large {
  font-size: 2.5rem!important;
}

.MMM-CasperValidator .font-medium { font-size: 1rem; }

.MMM-CasperValidator .tiles .value.number { color: yellow; font-weight: bold; }
.MMM-CasperValidator .tiles .value.green { color: greenyellow; }
.MMM-CasperValidator .tiles .value.red { color: red; }
